// fonts
$font-primary: 'Droid Sans', sans-serif;

// colors
$color-dark-blue: #204361;
$color-dark-gray: #333;
$color-dark-gray-background: #343a40;
$color-light-blue: #4085c0;
$color-light-gray: #777;
$color-super-light-gray: #e1e1e1;

// borders
$dark-blue-border: 1px solid $color-dark-blue;
$light-blue-border: 1px solid $color-light-blue;
$light-gray-border: 1px solid $color-super-light-gray;
$light-gray-border-dotted: 1px dotted $color-super-light-gray;

// other components
$blue-bar: linear-gradient(#387bb4, #336b9b);