.header {
    background: $blue-bar;
    color: #fff;
    height: 50px;
    text-shadow: 0 -1px #000;
    .menu {
        border-right: $light-blue-border;
        display: inline-block;
        list-style: none;
        li {
            border: {
                left: $light-blue-border;
                right: $dark-blue-border;
            }
            float: left;
            line-height: 50px;
            margin-bottom: 0;
        }
        a {
            color: #fff;
            display: inline-block;
            line-height: 50px;
            padding: 0 24px;
            text-decoration: none;
            transition: all 0.2s;
            &:hover {
                background: #f1f1f1;
                color: $color-light-blue;
                text-shadow: none;
            }
        }
    }
}