* {
    margin: 0;
    padding: 0;
}

body, html, .main {
    height: 100%;
}

p, h1, h2, li, th, td {
    font-family: $font-primary;
}

h1 {
    border-right: $dark-blue-border;
    display: inline-block;
    font: {
        size: 20px;
        weight: 400;
    }
    line-height: 50px;
    padding: 0 24px 0 50px;
    vertical-align: top;
}

h2 {
    color: $dark-gray;
    font-size: 20px;
    margin-bottom: 15px;
}

p, li {
    color: $light-gray;
    font-size: 16px;
    margin-bottom: 10px;
}

.t-heavy {
    font-weight: 700;
}

.app {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 50px;
}

.container {
    padding: 25px 50px;
}