.entry {
    border-top: $light-gray-border-dotted;
    padding: 25px 0;
    .user-icon {
        border: $light-gray-border;
        border-radius: 3px;
        display: inline-block;
        width: 128px;
    }
    .user-info {
        border-spacing: 0;
        display: inline-block;
        margin-left: 25px;
        vertical-align: top;
    }
    th, td {
        text-align: left;
    }
    th {
        color: $color-light-blue;
        padding-bottom: 5px;
    }
    td {
        border: {
            bottom: $light-gray-border;
            right: $light-gray-border;
        }
        color: $color-light-gray;
        font-size: 13px;
    }
    tr {
        &:nth-of-type(2) > td {
            border-top: $light-gray-border;
        }
        > td:first-child {
            background: #f1f1f1;
            border-left: $light-gray-border;
            padding: 5px 15px 5px 5px;
        }
        > td:last-child {
            min-width: 500px;
            padding: 5px 15px 5px;
        }
    }
}