// fonts
$font-primary: 'Droid Sans', sans-serif;

// colors
$dark-blue: #204361;
$dark-gray: #333;
$dark-gray-background: #343a40;
$light-blue: #4085c0;
$light-gray: #777;
$super-light-gray: #e1e1e1;

// borders
$dark-blue-border: 1px solid $dark-blue;
$light-blue-border: 1px solid $light-blue;
$light-gray-border: 1px solid $super-light-gray;
$light-gray-border-dotted: 1px dotted $super-light-gray;

// other components
$blue-bar: linear-gradient(#387bb4, #336b9b);